/* header */
header{
    background-color: #EAC926;
    width: 100%;
    font-size: 12px;
    padding-bottom: 5px;
}
.logo{
    width: 40%;
    padding: 20px 20px;
}
form{
    font-size: 10px;
    padding: 10px 20px;
}
.comprar{
    text-align: center;
}
ul{
    padding: 10px;
}
li{
    list-style: none;
}
.burger-menu{
    color: var(--color-grisclaro);
    background-color: var(--color-celeste);
    font-size: 18px;
    width: 35px;
    height: 35px;
    margin:15px auto 15px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    display: flex;
}

/* main */
main{
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}
.banner{
    width: 100%;
    height: 100px;
}
article{
    margin-bottom: 10px;
}
article img{
    width: 90%;
}
h2{
    font-size: 24px;
}
article .precios{
    font-size: 18px;
}
article .descuentos{
    font-size: 16px;
}
/* h3{
    font-size: 16px;
} */

/* footer */
footer{
background-color: white;
color: var(--color-grisoscuro);
text-align: center;
}
footer i{
    color: var(--color-celeste);
    font-size: 32px;
    padding-top: 30px;
    padding-bottom: 15px;
}
footer p{
    padding: 0 90px;
    font-size: 12px;
}
.copyright{
    padding: 0 0 15px 15px;
    margin-top: 40px;
    text-align: left;
}